<head>
<link type="text/css" rel="stylesheet" href="/static/landing.css" />
    <title>Exployre</title>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32831760-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
function myFunction()
{
alert("just fyi the site is undergoing some major development so there will be many changes over the next few weeks.\n -The Exployre Dev Team ");
}
</script>
</head>
<body>
<div class="master-container">
<p class="intro-text">
If you are an thrill seeker, adventurer, or simply need <br> something more, join the club.  Come and <br> <img style="height:160px; width:400px;" src="http://i903.photobucket.com/albums/ac232/PatrickCliff/logo.png"><br><br>
    ~"Life is either a daring adventure, or nothing."
</p>

<img class="container" src="http://images.nationalgeographic.com/wpf/media-live/photos/000/247/cache/1-hiking-big-sur-california_24715_600x450.jpg">

<div class="center">
<a href="/about" class="button" onclick="myFunction()" value="Show alert box">exployre on</a>
</div>
</div>
</body>​​