{% extends "master.html" %}

{% block head %}
<title>Please Login</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="span8 offset2">
		<h2>You will need to login to view this page.  It is easy and just takes a few seconds:  <a href="http://www.exployre.com/login">Register/Login</a></h2>
	</div>
</div>
<br><br>
<div class="row">
	<div class="span8 offset2">
		<span class="center-it">
			<img src="http://i.imgur.com/KpCP2.jpg" alt="hiking scene">
		</span>
	</div>
</div>
{% endblock %}