{% extends "master.html" %}

{% block head %}

{% endblock %}

{% block content %}

<h2>Looks like our server just messed up.  Hopefully it will work if you give it another try...  If would like to tell us about it just email mgmt@exployre.com.</h2>

  <script src="http://code.jquery.com/jquery-latest.js"></script>


<!-- <button>Toggle 'em</button>

<p id="toggleme" style="display: none">Hiya</p>
<script>
$("button").click(function () {
$("#toggleme").toggle("slow");
});    
</script> -->
{% endblock %}