{% extends "master.html" %}

{% block head %}
<title>Sponsors</title>
{% endblock %}

{% block content %}

	<div class="alert alert-success center-it">
		<h4>We are currently looking for more sponsors in every area.  <a href="/sponsorinfo">Learn more here.</a>  We have attractive advertising deals for companies 
looking to give discounts to our members (aka sponsorships).  Please contact us at patrick@exployre.com for an amazing opportunity to reach a targeted audience.</h4>
	</div>

<h2>Current Sponsors:</h2>
<h3>General:</h3>
<ul>
<li>Beyond Adrenaline</li>
<ul>
<li>Requirements:</li>
<ul>
<li>3 badges</li>
<li>10 contributions</li>
</ul>
</ul>
</ul>
<h3>Air:</h3>
 <h3>Land:</h3>
 <h3>Sea:</h3>
​{% endblock %}