{% extends "master.html" %}

{% block head %}

{% endblock %}

{% block content %}
<div class="alert alert-error center-it">
	<h4>First 10 sponsors to sign up get 2 months of free advertising. We already have two spots taken so
	8 more companies still have this opportunity!</h4>
</div>

<h2>Become a Sponsor!</h2>
<p>We are looking for sponsors in <a href="/elements">every category</a> and across all types of gear. Whether you are a clothing retailer, a paraglider 
wing manufacturer, or sell snowboards, we would love to partner with you.  We are flexible depending on the situation though generally the higher the discount 
for our members the better your logo placement on the site and the better rate you get for ad placement.</p< 
 
<p>All sponsors will be listed under the name of members who choose to use them as a sponsor, 
which is the most attractive ad placement of them all, and you get it complimentary for being a sponsor.</p>
<h4>Sponsorship and Ad Packages</h4>
<ul>
	<li>Basic package:</li>
		<ul>
		<li>5% off your products (can be all or a specific type)listing on the sponsor page and as a sponsor of specific users</li>
		<li>$200/month for front page ads, $100/month element ads and $50/ month on the sport page</li>
		</ul>
	<li>Most Common Package:</li>
		<ul>
		<li>10% off products for users</li>
		<li>$150/month front page ads, $75/month element ads and $35/month sport page ads</li>
		</ul>
	<li>Platinum Package</li>
		<ul>
		<li>15% off products for users</li>
		<li>$100/month front page ads $50/month element ads and 3 free sport page ads</li>
		</ul>
</ul>
<p>If you are not interested in being a sponsor but would still like to advertise to this amazing audience of highly targeted visitors the costs are as follows:</p>
<ul>
	<li>$500/month for front page ads</li<
	<li>$250/month element ads</li>
	<li>$125/ month on the activity page</li>
</ul>

<p>If you would like to offer some other type of sponsorship besides a percent off your products pleas let us know.  To keep things simple most of our sponsors simply provide 
their sponsored athletes a coupon code for use on their website.  We can handle this distribution process and verify their level of achievement. We are planning on 
further developing this system so it can be used in physical stores, let us know if you would like to be a part of this extension.</p>

<p>
Email us for more info at patrick@exployre.com
</p>
<br>

{% endblock %}
​